<?xml version="1.0"?>
<Border CornerRadius="2" BorderWidth="1" Background="{./Background}" Foreground="Gray"
	MouseEnter="{Foreground=White}"
	MouseLeave="{Foreground=Gray}">
	<HorizontalStack Margin="1" Spacing="1" Height="Fit">
		<GraphicObject CornerRadius="5" Width="20" Height="16" Background="{./Foreground}"/>				
		<Label Margin="2" Text="{./Caption}" Font="{./Font}"/>
	</HorizontalStack>
</Border>